body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0;
    background-color: #d6d6d6;
}
.content {
    padding: 20px;
    position: relative;
    font-family: 'VT323', monospace;
}
h1 {
    text-decoration: underline;
    text-align: left;
    font-size: 36px;
}
h2 {
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 24px;
}
p {
    font-size: 18px;
}
.navbar {
    background-color: #4f0505;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}
.nav-left, .nav-right {
    display: flex;
    gap: 10px;
}
.navbar a {
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #575757;
}
.tube-board-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-top: 20px;
}
.platform-depature-board {
    background-color: #000000;
    border: 5px solid #ff7900;
    border-radius: 10px;
    color: #ff7900;
    padding: 15px;
}
.platform-depature-board h3 {
    margin-top: 0;
    border-bottom: 3px dashed #ff7900;
    padding-bottom: 5px;
    font-size: 24px;
    color: #ffffff;
}
.refresh-button {
    background-color: #ff5c00;
    color: #ffffff;
    border: 2px solid #000000;
    padding: 8px 14px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.refresh-button:hover {
    background-color: #e04e00;
}
.refresh-row {
    display: flex; 
    gap: 25px; 
    align-items: center;
}
.refresh-row form {
    margin: 0;
    width: auto; /* prevent it from being 300px wide */
}
select.station-select {
    font-size: 18px;
    padding: 8px 14px 12px 14px; /* top, right, bottom, left */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    max-height: 100px;
}
.refresh-time{
    font-weight: bold;
    margin: 10px;
}
.profile_pic {
    top: 55px;                /* Align to 10 px below nav bar */
    right: 10px;              /* Align to 10 px to the right */
    margin: 10px 0 10px 15px;
    object-fit: cover;
    width: 30vw;           /* 30% of the viewport width */
    height: auto;          /* Maintain aspect ratio */
    border-radius: 10px;
    border: 2px solid #333;
    position: absolute;
    padding-top: auto;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: 7fr 3fr; /* 70% text, 30% image */
    gap: 20px;
}
form {
    width: 300px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 90px; /* Same width for all labels */
}
.form-actions {
    margin-left: 90px; /* Aligns button with input fields */
}