{% extends "base.html" %}
{% block title %}Dr Who - Adam's Website{% endblock %}<!-- title of the page -->

{% block content %} <!-- contents of the page -->
    
    <h1>Dr. Who Webscrapper</h1>
    <!-- Webscraper info box -->
    {% if scraper_info %}
        <div class="scraper-info-box">
            {% for key, value in scraper_info.items() %}
                <p><strong>{{ key }}:</strong> {{ value }}</p>
            {% endfor %}    
        </div>
    {% endif %}


    <div class="doc-who-container">
    <p>Please insert episode name below:</p>

        <form action="/doc-who" method="post" class="doc-who-form">
            <label for="episode">Episode name:</label>
            <input type="text" name="episode" placeholder="Episode name" class="doc-who-input" required>
            
            <label for="media_type">Select media type:</label><br>
            <select id="media_type" name="media_type" required>
                <option value="tv">TV</option>
                <option value="audio" selected>Audio</option>
                <option value="novel">Novel</option>
            </select> 
            
            <button type="submit" class="doc-who-button">Submit</button>
        </form>
    </div>

{% endblock %}