{% extends "base.html" %}
{% block title %}Dr Who - Adam's Website{% endblock %}<!-- title of the page -->

{% block content %} <!-- contents of the page -->
    
    <h1>Dr. Who Webscrapper</h1>
    <div class="doc-who-container">
        <p>Please insert episode name below:</p>
        <form action="/doc-who" method="post" class="doc-who-form">
            <input type="text" name="episode" placeholder="Episode name" class="doc-who-input">
            <button type="submit" class="doc-who-button">Submit</button>
        </form>
    </div>

{% endblock %}