{% extends "base.html" %}
{% block title %}Home - Adam's Website{% endblock %} <!-- title of the page -->

{% block content %}     <!-- page contents -->

    <div class="container">
        <div class="text_content">
            <h1>Welcome to the Home Page</h1>
            {% if current_user.is_authenticated %}
                <p>Hi, {{ current_user.username }}! I am Adam Parsons and this is my website.</p>
            {% else %}
                <p>Welcome guest! I am Adam Parsons and this is my website. Please <a href="/login">log in</a>.</p>
            {% endif %}
            <p>I am currently a 4th Year MSci Computer Science Student at Cardiff University. This website is mostly to explore different web-based projects and I hope to frequently update it.</p>
            <p>Use the Navigation bar above to explore different projects such as the Weather page</p>
            <p>The highlights of this website is the <a href="/tube">tube depature board</a> and the <a href="/doc-who">Dr. Who Webscrapper</a>.</p>

        </div>
        <div class="image_content">
            <img class="profile_pic" src="{{ url_for('static', filename='images/profile_pic.jpg') }}" alt="Profile pic" />
        </div>
    </div>
{% endblock %}
