{% extends "base.html" %}
{% set refresh = true %}
{% block title %}Tube departure board - Adam's Website{% endblock %}<!-- title of the page -->

{% block content %} <!-- contents of the page -->
<h1>Live Tube Departure board</h1>
    <h2>{{ station_name }}</h2>
    {% if platforms %}
        <div class="refresh-row">
            <form method="get" action="{{ url_for('tube_departure') }}">
                <button type="submit" class="refresh-button">Refresh</button>
            </form>
            <p class="refresh-time">Last updated at: {{ fetched_time }}</p>
        </div>
        <div class="tube-board-grid">
            {% for platform, arrivals in platforms.items() %}
                <div class="platform-depature-board">
                    <h3>{{ platform }}</h3>
                    <ol>
                        {% for train in arrivals %}
                            <li>
                                <p>
                                    {{ train.destination.replace('Underground Station', '') | trim }} –
                                    {% if train.minutes == 0 %}
                                        Due
                                    {% else %}
                                        {{ train.minutes}} min{{ 's' if train.minutes !=1 else '' }}
                                    {% endif %}    
                                </p>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No departure data available at the moment.</p>
    {% endif %}
{% endblock %}
